<a href="https://colab.research.google.com/github/siyan77/Python_basics/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=8
b=7
print(a*b)

56

In [ ]:
# Import the necessary modules.
import pandas as pd

# Create a dictionary of student data.
students = {
    'Name': ['Alice', 'Bob', 'Carol', 'Dave', 'Eve'],
    'Math': [90, 85, 95, 75, 80],
    'Science': [85, 90, 80, 95, 75],
    'English': [95, 80, 90, 85, 90]
}

# Create a Pandas DataFrame from the dictionary.
df = pd.DataFrame(students)

# Calculate the total marks for each student.
df['Total'] = df['Math'] + df['Science'] + df['English']

# Calculate the percentage for each student.
df['Percentage'] = df['Total'] / 300 * 100

# Calculate the grade for each student.
df['Grade'] = ['A' if p >= 90 else 'B' if p >= 80 else 'C' if p >= 70 else 'D' for p in df['Percentage']]

# Print the mark sheet.
print(df)

    Name  Math  Science  English  Total  Percentage Grade
0  Alice    90       85       95    270   90.000000     A
1    Bob    85       90       80    255   85.000000     B
2  Carol    95       80       90    265   88.333333     B
3   Dave    75       95       85    255   85.000000     B
4    Eve    80       75       90    245   81.666667     B

In [ ]:
a=int(input())
b=int(input(0))
print(a+b)

1
02
3

In [ ]:
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
if a<b:
  print ("first number is less than second")
elif a>b:
    print("first number greater than second")
else:
    print(f"first number is equal to second")

enter the first number:3
enter the second number:3
first number is equal to second

In [ ]:
number=int(input())

print("multiplication table for",number,";")
for i in range(1,11):
  result = number * i
  print(f"{number} * {i}= {result}")

4
multiplication table for 4 ;
4 * 1= 4
4 * 2= 8
4 * 3= 12
4 * 4= 16
4 * 5= 20
4 * 6= 24
4 * 7= 28
4 * 8= 32
4 * 9= 36
4 * 10= 40

In [ ]:
def addition(num1,num2):
  print(f"sum of{num1},{num2}=",num1+num2)

num1=int(input())
num2=int(input())

addition(num1,num2)

1
2
sum of1,2= 3

In [ ]:
def factorial(n):
  if n==0:
    return 1;

  result = 1
  for i in range(1, n+1):
    result *=i
  return result

factorial(5)

120

In [ ]:
def substraction(num1,num2):
  print(f"difference of{num1},{num2}=",num1-num2)



num1=int(input())
num2=int(input())

substraction (num1,num2)

8
4
difference of8,4= 4

In [ ]:
def factorial(n):
 if n==0:
  return 1
 else:
  return n * factorial(n-1)
factorial(5)

120

In [ ]:
def palindrome(word):
  # covert the word to lowercase for case-insesitive comparison
  word=word.lower()
  reversed_word=word[::-1]
  if word == reversed_word:
    print("it is a palindrome")
  else:
    print("it is not a palindrome")

palindrome("malayalam")

it is a palindrome

In [ ]:
f=open("text.txt")
print(f.read())

hello world

good morning